<div class="col-xs-12 comment-indent">
    <a href="/posts/{{this.id}}/comments/{{comments._id}}/replies/new">{{this.content}}</a>
    {{#each this.comments}}
        {{> comment}}
    {{/each}}
</div>
