
<div class="row">
    <div class ="col-sm-4 col-sm-offset-4">
        <form action="/posts" method="POST">
            <legend>New Post</legend>
            <div class="form-group">
                <!-- Post Title -->
                <p>
                    <label for="post-title">Title</label>
                    <input type="text" name="title" class="form-control" id="post-title" placeholder="Title"/>
                </p>
            </div>
            <div class="form-group">
                <!-- Post Url -->
                <label for="post-url">Url</label>
                <input type="url" name="urk" class="form-control" id="post-url" placeholder="https://www.google.com">
            </div>
            <div class="form-group">
                <label for="post-summary">Summary</label>
                <textarea name="summary" class="form-control" id="post-summary" placeholder="Title"></textarea>
            </div>
            <br>
            <div class="text-right">
                <!-- Button -->
                    <button type="submit" class="btn btn-primary">Creates Post</button>
            </div>
        </form>
    </div>
</div>
