
<div class="row">
    <div class>
        <form action="/posts" method="POST">
            <fieldset>
                <legend>New Post</legend>
                <!-- Titles -->
                <p>
                    <label for="title">Title</label><br>
                    <input type="text" name="title"/>
                </p>
                <p>
                    <label for="title">Content</label><br>
                    <input type="text" name="content"/>
                </p>
                </fieldset>
                <!-- Button -->
                <p>
                    <button type="submit">Save Post</button>
                </p>
        </form>
    </div>
</div>
